#answers {
  display: flex;        
  justify-content: center;          
  gap: 75px;              
  flex-wrap: wrap;  ا
}

#answers button {
  padding: 10px;
  cursor: pointer;
}
body {
background-color: rgb(18, 87, 87);
}
